<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table>
      <tr>
        <th>Restaurant</th>
        <th>Location</th>
      </tr>

      <% @restaurants.each do |restaurant| %>
        <tr>
          <td><%= restaurant.name %></td>
          <td><%= restaurant.location %></td>

        </tr>
      <% end %>
    </table>
  </body>
</html>
